@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ImcreSoojin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}
.lottemartdream * {
 font-family: 'LotteMartDream', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0 auto;
  }
  
  nav {
    max-width: 1200px;
  }
  
  header {
    position: fixed;
    box-shadow: 2px 2px 50px -30px gray;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 1rem;
    color: white;
    background: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #logo img {
    margin: 0 auto;
    margin-left: 190px;
    height: 44px;
    width: 133px;
  }
  
  ul {
    margin-right: 100px;
  }
  
  #main {
    margin: 0px auto;
    width: 100%;
  }
  
  li {
    list-style: none;
    margin: auto;
    float: right;
    text-align: center;
    margin-right: 27px;
    margin-left: 27px;
    font-size: 20px;
  }
  
  a:link {
    color: #2E2E2E;
    text-decoration: none;
  }
  
  a:visited {
    color: #2E2E2E;
    text-decoration: none;
  }
  
  li:hover {
    color: #000000;
    text-decoration: none;
    box-shadow: inset 0 -10px 0  #fcd121; 
  }
  
  li:active {
    color: #000000;
    text-decoration: none;
  }
  
  body {
    -ms-overflow-style: none;
    padding-top: 80px;
    margin-top: 130px;
    margin: 0px;
    background: #ffffff;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  .box {
    -ms-overflow-style: none;
  }
  
  .box::-webkit-scrollbar {
    display: none;
  }
  
  h1 {
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-size: 300px;
    color: #0f0071;
    margin-top: 250px;
    line-height: 230px;
    letter-spacing: -4px;
  }
  
  h2 {
    display: inline;
    font-family: 'Nunito', sans-serif;
    font-size: 300px;
    color: #0f0071;
    margin-top: 250px;
    line-height: 230px;
    letter-spacing: -4px;
  }
  
  h3 {
    letter-spacing: -4px;
    font-size: 45px;
    color: #0f0071;
    text-align: center;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
  .cssanimation,
  .cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .cssanimation span {
    display: inline-block
  }
  
  .leFlyInBottom span {
    animation-name: leFlyInBottom
  }
  
  @keyframes leFlyInBottom {
    0% {
        transform: translate(0px, 80px);
        opacity: 0
    }
  
    50% {
        transform: translate(10px, -50px);
        animation-timing-function: ease-in-out
    }
  }
  
  p {
    font-size: 45px;
    color: #0f0071;
    text-align: center;
    font-family: 'Lato', sans-serif;
  }
  section {
    height: 2800px;
    background: linear-gradient(-173deg, #fff8db, #fff8db 40%, #fcd121 40%, #fcd121);
  }
  .container {
    overflow-x: hidden;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    min-height: 200vh;
  }

  .pulse {
    position: absolute;
    top: 0%;
    right: 0%;
    float: right;
    transform: translate(45%, -40%);
    max-width: 50rem;
  }
  
  .pulse2 {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-30%, 70%);
    max-width: 55rem;
  }
  
  .pulse3 {
    overflow-x: hidden;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(167%, 60%);
    max-width: 55rem;
  }
  
  circle {
    fill: #fcd121;
    transform: scale(0);
    opacity: 0;
    transform-origin: 50% 50%;
    animation: pulse 3s cubic-bezier(.5, .5, 0, 1);
    animation-iteration-count: infinite;
  }
  
  circle:nth-child(2) {
    fill: #0f0071;
    animation: pulse 3s 0.75s cubic-bezier(.5, .5, 0, 1);
    animation-iteration-count: infinite;
  }
  
  circle:nth-child(3) {
    fill: #fff8db;
    animation: pulse 3s 1.5s cubic-bezier(.5, .5, 0, 1);
    animation-iteration-count: infinite;
  }
  
  .pulse2 circle {
    fill: #0f0071;
    transform: scale(0);
    opacity: 0;
    transform-origin: 50% 50%;
    animation: pulse 3s cubic-bezier(.5, .5, 0, 1);
    animation-iteration-count: infinite;
  }
  
  .pulse2 circle:nth-child(2) {
    fill: #fff8db;
    animation: pulse 3s 0.75s cubic-bezier(.5, .5, 0, 1);
    animation-iteration-count: infinite;
  }
  
  .pulse2 circle:nth-child(3) {
    fill: #fcd121;
    animation: pulse 3s 1.5s cubic-bezier(.5, .5, 0, 1);
    animation-iteration-count: infinite;
  }
  
  #container2 {
    background: linear-gradient(173deg, #fcd121, #fcd121 22%, #fff8db 22%, #fff8db);
  }
   
  #container2 {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 1000px;
  }
  @mixin center-v () {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  #study {
    float: right;
    font-size: 150px;
    position: absolute;
    top: 1010px;
    right: 30px;
    transform: rotate(6.5deg);
    font-family: 'Nunito', sans-serif;
    color: #fcd121;
  }
  study--primary {
      @include center-v;
      right: 20px;
    }
  #timer {
    float: left;
    font-size: 150px;
    position: absolute;
    top: 90px;
    left: 30px;
    transform: rotate(-6.5deg);
    font-family: 'Nunito', sans-serif;
    color: #fff8db;
  }
  #studyment {
    float: right;
    font-size: 60px;
    position: absolute;
    color: white;
    top: 1410px;
    right: 80px;
    line-height: 70px;
    text-align: right;
    font-weight: 700;
    font-family: 'LotteMartDream', sans-serif;
    /*font-family: 'ImcreSoojin';
    font-family: 'NanumSquare', sans-serif !important;*/
  }
  #studyment2 {
    float: right;
    font-size: 25px;
    position: absolute;
    color: white;
    bottom: 200px;
    right: 80px;
    line-height: 40px;
    text-align: right;
    font-family: 'LotteMartDream', sans-serif;
    /*font-family: 'ImcreSoojin';
    font-family: 'NanumSquare', sans-serif !important;*/
  }
  #timerment {
    float: left;
    font-size: 60px;
    position: absolute;
    color: #0f0071;
    top: 450px;
    left: 60px;
    line-height: 70px;
    text-align: left;
    font-weight: 700;
    font-family: 'LotteMartDream', sans-serif;
    /*font-family: 'ImcreSoojin';
    font-family: 'NanumSquare', sans-serif !important;*/
  }
  #timerment2 {
    float: left;
    font-size: 25px;
    position: absolute;
    color: #0f0071;
    top: 610px;
    left: 60px;
    line-height: 40px;
    text-align: left;
    font-family: 'LotteMartDream', sans-serif;
    /*font-family: 'ImcreSoojin';
    font-family: 'NanumSquare', sans-serif !important;*/
  }
  
  @keyframes pulse {
  
    25% {
        opacity: 0.8;
    }
  
    100% {
        transform: scale(1);
    }
  
  }
  
  .scroll-down {
    position: absolute;
    bottom: 5rem;
    transform: translateX(-10%);
    transform: translateY(-1000%);
    flex-direction: column;
    align-items: center;
  }
  
  .mouse {
    width: 3.0rem;
    height: 5rem;
    border: 2px solid #0f0071;
    border-radius: 2rem;
    margin-bottom: .5rem;
    display: flex;
  }
  
  .mouse span {
    width: 1rem;
    height: 1rem;
    background-color: #0f0071;
    display: block;
    border-radius: 50%;
    margin: auto;
    animation: move-wheel 1s linear infinite;
  }
  
  .arrow span {
    display: block;
    width: 1rem;
    height: 1rem;
    border: 2px solid transparent;
    border-right: 2px solid #0f0071;
    border-right-color: #0f0071;
    border-bottom-color: #0f0071;
    transform: rotate(45deg);
    animation: arrow-down 2s alternate infinite;
  }
  
  @keyframes move-wheel {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }
  
    100% {
        opacity: 1;
        transform: translateY(1rem);
    }
  }
  
  @keyframes arrow-down {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }
  
    25% {
        opacity: .25;
    }
  
    50% {
        opacity: .5;
    }
  
    75% {
        opacity: .75;
    }
  
    100% {
        opacity: 1;
    }
  }
 

  @media (min-width:2000px){
    * {
      box-sizing: border-box;
      margin: 0 auto;
      margin-bottom: 0px;
    }
    
    nav {
      max-width: 1200px;
    }
    
    header {
      position: fixed;
      box-shadow: 2px 2px 50px -30px gray;
      top: 0;
      left: 0;
      right: 0;
      height: 80px;
      padding: 1rem;
      color: white;
      background: white;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    #logo {
      margin: 0 auto;
      margin-left: 190px;
      height: 44px;
      width: 159px;
      background-image: url("image/logo.png");
    }
    
    ul {
      margin-right: 100px;
    }
    
    #main {
      margin: 0px auto;
      width: 100%;
    }
    
    li {
      list-style: none;
      margin: auto;
      float: right;
      text-align: center;
      margin-right: 27px;
      margin-left: 27px;
      font-size: 20px;
    }
    
    a:link {
      color: #2E2E2E;
      text-decoration: none;
    }
    
    a:visited {
      color: #2E2E2E;
      text-decoration: none;
    }
    
    li:hover {
      color: #000000;
      text-decoration: none;
      box-shadow: inset 0 -10px 0  #fcd121; 
    }
    
    li:active {
      color: #000000;
      text-decoration: none;
    }
    
    body {
      -ms-overflow-style: none;
      padding-top: 80px;
      margin-top: 130px;
      margin: 0px;
      background: #ffffff;
    }
    
    ::-webkit-scrollbar {
      display: none;
    }
    
    .box {
      -ms-overflow-style: none;
    }
    
    .box::-webkit-scrollbar {
      display: none;
    }
    
    h1 {
      display: inline-block;
      font-family: 'Nunito', sans-serif;
      font-size: 500px;
      color: #0f0071;
      ;
      margin-top: 450px;
      line-height: 300px;
      letter-spacing: -4px;
    }
    
    h2 {
      display: inline;
      font-family: 'Nunito', sans-serif;
      font-size: 500px;
      color: #0f0071;
      ;
      margin-top: 450px;
      line-height: 300px;
      letter-spacing: -4px;
    }
    
    h3 {
      letter-spacing: -4px;
      font-size: 100px;
      color: #0f0071;
      text-align: center;
      font-family: 'Lato', sans-serif;
      letter-spacing: 2px;
    }
    
    .cssanimation,
    .cssanimation span {
      animation-duration: 1s;
      animation-fill-mode: both;
    }
    
    .cssanimation span {
      display: inline-block
    }
    
    .leFlyInBottom span {
      animation-name: leFlyInBottom
    }
    
    @keyframes leFlyInBottom {
      0% {
          transform: translate(0px, 80px);
          opacity: 0
      }
    
      50% {
          transform: translate(10px, -50px);
          animation-timing-function: ease-in-out
      }
    }
    
    p {
      font-size: 45px;
      color: #0f0071;
      text-align: center;
      font-family: 'Lato', sans-serif;
    }   
    section {
      height: 3000px;
      background: linear-gradient(-173deg, #fff8db, #fff8db 51%, #fcd121 51%, #fcd121);
    }
    .container {
      overflow-x: hidden;
      position: relative;
      z-index: 0;
      display: flex;
      justify-content: center;
      min-height: 100vh;
    }
    
    .pulse {
      z-index: -1;
      position: absolute;
      top: 0%;
      right: 0%;
      float: right;
      transform: translate(45%, -40%);
      max-width: 65rem;
    }
    
    .pulse2 {
      z-index: -1;
      position: absolute;
      top: 0%;
      left: 0%;
      transform: translate(-30%, 70%);
      max-width:70rem;
    }

    
    
    circle {
      fill: #fcd121;
      transform: scale(0);
      opacity: 0;
      transform-origin: 50% 0%;
      animation: pulse 3s cubic-bezier(.5, .5, 0, 1);
      animation-iteration-count: infinite;
    }
    
    circle:nth-child(2) {
      fill: #0f0071;
      animation: pulse 3s 0.75s cubic-bezier(.5, .5, 0, 1);
      animation-iteration-count: infinite;
    }
    
    circle:nth-child(3) {
      fill: #fff8db;
      animation: pulse 3s 1.5s cubic-bezier(.5, .5, 0, 1);
      animation-iteration-count: infinite;
    }
    
    .pulse2 circle {
      fill: #0f0071;
      transform: scale(0);
      opacity: 0;
      transform-origin: 50% 50%;
      animation: pulse 3s cubic-bezier(.5, .5, 0, 1);
      animation-iteration-count: infinite;
    }
    
    .pulse2 circle:nth-child(2) {
      fill: #fff8db;
      animation: pulse 3s 0.75s cubic-bezier(.5, .5, 0, 1);
      animation-iteration-count: infinite;
    }
    
    .pulse2 circle:nth-child(3) {
      fill: #fcd121;
      animation: pulse 3s 1.5s cubic-bezier(.5, .5, 0, 1);
      animation-iteration-count: infinite;
    }

     
  #container2 {
    background: linear-gradient(173deg, #fcd121, #fcd121 22%, #fff8db 22%, #fff8db);
  }
   
  #container2 {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 1000px;
  }
  @mixin center-v () {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  #study {
    float: right;
    font-size: 150px;
    position: absolute;
    top: 1010px;
    right: 30px;
    transform: rotate(6.5deg);
    font-family: 'Nunito', sans-serif;
    color: #fcd121;
  }
  study--primary {
      @include center-v;
      right: 20px;
    }
  #timer {
    float: left;
    font-size: 150px;
    position: absolute;
    top: 90px;
    left: 30px;
    transform: rotate(-6.5deg);
    font-family: 'Nunito', sans-serif;
    color: #fff8db;
  }
  #studyment {
    float: right;
    font-size: 60px;
    position: absolute;
    color: white;
    top: 1410px;
    right: 80px;
    line-height: 70px;
    text-align: right;
    font-weight: 700;
    font-family: 'LotteMartDream', sans-serif;
    /*font-family: 'ImcreSoojin';
    font-family: 'NanumSquare', sans-serif !important;*/
  }
  #studyment2 {
    float: right;
    font-size: 25px;
    position: absolute;
    color: white;
    bottom: 200px;
    right: 80px;
    line-height: 40px;
    text-align: right;
    font-family: 'LotteMartDream', sans-serif;
    /*font-family: 'ImcreSoojin';
    font-family: 'NanumSquare', sans-serif !important;*/
  }
  #timerment {
    float: left;
    font-size: 60px;
    position: absolute;
    color: #0f0071;
    top: 450px;
    left: 60px;
    line-height: 70px;
    text-align: left;
    font-weight: 700;
    font-family: 'LotteMartDream', sans-serif;
    /*font-family: 'ImcreSoojin';
    font-family: 'NanumSquare', sans-serif !important;*/
  }
  #timerment2 {
    float: left;
    font-size: 25px;
    position: absolute;
    color: #0f0071;
    top: 610px;
    left: 60px;
    line-height: 40px;
    text-align: left;
    font-family: 'LotteMartDream', sans-serif;
    /*font-family: 'ImcreSoojin';
    font-family: 'NanumSquare', sans-serif !important;*/
  }
  
    
    @keyframes pulse {
    
      25% {
          opacity: 0.8;
      }
    
      100% {
          transform: scale(1);
      }
    
    }
    
    .scroll-down {
      position: absolute;
      bottom: 5rem;
      transform: translateX(-10%);
      transform: translateY(-150%);
      flex-direction: column;
      align-items: center;
    }
    
    .mouse {
      width: 4.5rem;
      height: 7rem;
      border: 2px solid #0f0071;
      border-radius: 2rem;
      margin-bottom: .5rem;
      display: flex;
    }
    
    .mouse span {
      width: 1rem;
      height: 1rem;
      background-color: #0f0071;
      display: block;
      border-radius: 50%;
      margin: auto;
      animation: move-wheel 1s linear infinite;
    }
    
    .arrow span {
      display: block;
      width: 1rem;
      height: 1rem;
      border: 2px solid transparent;
      border-right: 2px solid #0f0071;
      border-right-color: #0f0071;
      border-bottom-color: #0f0071;
      transform: rotate(45deg);
      animation: arrow-down 2s alternate infinite;
    }
    
    @keyframes move-wheel {
      0% {
          opacity: 0;
          transform: translateY(-1rem);
      }
    
      100% {
          opacity: 1;
          transform: translateY(1rem);
      }
    }
    
    @keyframes arrow-down {
      0% {
          opacity: 0;
          transform: translateY(-1rem);
      }
    
      25% {
          opacity: .25;
      }
    
      50% {
          opacity: .5;
      }
    
      75% {
          opacity: .75;
      }
    
      100% {
          opacity: 1;
      }
    }
    
    #container2 {
      border: 1px solid red;
      width: 100%;
      height: 1000px;
    }
  }




  /* 화면 너비 0 ~ 1200px */
  @media (max-width: 1220px) {
    * {
        box-sizing: border-box;
        margin: 0 auto;
        margin-bottom: 0px;
        max-width: 1200px;
    }
  
    li {
        font-size: 14px;
    }
  }
  
  /* 화면 너비 0 ~ 768px */
  @media (max-width: 768px) {
    * {
        box-sizing: border-box;
        margin: 0 auto;
        margin-bottom: 0px;
        max-width: 750px;
    }
  
    li {
        font-size: 14px;
    }
  
    .scroll-down {
        position: absolute;
        bottom: 5rem;
        transform: translateX(-10%);
        transform: translateY(-1500%);
        flex-direction: column;
        align-items: center;
    }
  
    .mouse {
        width: 2.5rem;
        height: 5rem;
        border: 2px solid #0f0071;
        border-radius: 2rem;
        margin-bottom: .5rem;
        display: flex;
    }
  
    .mouse span {
        width: 1rem;
        height: 1rem;
        background-color: #0f0071;
        display: block;
        border-radius: 50%;
        margin: auto;
        animation: move-wheel 1s linear infinite;
    }
  
    .arrow span {
        display: block;
        width: 1rem;
        height: 1rem;
        border: 2px solid transparent;
        border-right: 2px solid #0f0071;
        border-right-color: #0f0071;
        border-bottom-color: #0f0071;
        transform: rotate(45deg);
        animation: arrow-down 1s alternate infinite;
    }
  }
  
  /* 화면 너비 0 ~ 480px */
  @media (max-width: 480px) {
    * {
        box-sizing: border-box;
        margin: 0 auto;
        margin-bottom: 0px;
        max-width: 40px;
    }
  
    header {
        height: 133px;
    }
  
    li {
        font-size: 14px;
    }
  
    .scroll-down {
        position: absolute;
        bottom: 5rem;
        transform: translateX(-10%);
        transform: translateY(-2000%);
        flex-direction: column;
        align-items: center;
    }
  
    .mouse {
        width: 2.5rem;
        height: 5rem;
        border: 2px solid #0f0071;
        border-radius: 2rem;
        margin-bottom: .5rem;
        display: flex;
    }
  
    .mouse span {
        width: 1rem;
        height: 1rem;
        background-color: #0f0071;
        display: block;
        border-radius: 50%;
        margin: auto;
        animation: move-wheel 1s linear infinite;
    }
  
    .arrow span {
        display: block;
        width: 1rem;
        height: 1rem;
        border: 2px solid transparent;
        border-right: 2px solid #0f0071;
        border-right-color: #0f0071;
        border-bottom-color: #0f0071;
        transform: rotate(45deg);
        animation: arrow-down 1s alternate infinite;
    }
  }