@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

    body {
        width: 100vw;
        margin: 0;
        overflow-x: hidden;
        font-family: 'Nanum Gothic', sans-serif;
    }
    input {
        outline: none;
        border: none;
    }
    #main{
        margin: 0 auto;
        margin-top: 104px;
        height: 100%;
        width: 410px;
        position: relative;
    }
    .logo{
        margin: 0 auto;
        margin-bottom: 45px;
        height: 99px;
        width: 329px;
    }
    .logo img {
        width: 100%;
    }
    .text_field{
        width: 90%;
        height: 170px;
        margin: 0 auto;
    }
    .text_field input {
       border-radius: 8px;
       margin-bottom: 12px;
       width: 100%;
       height: 49px;
       font-size: 20px;
       border: 1px solid gray;
       font-family: 'Nanum Gothic', sans-serif;
       padding-left: 10px;
       margin-left: -8px;
   }
   .btn {
       height: 90px;
       margin: 0 auto;
   }
   .btn input{
       font-size: 20px;
       border-radius: 8px;
       width: 200px;
       height: 55px;
       background-color: #fcd121;
       color: white;
       position: absolute;
       left: 50%;
       transform: translateX(-100px);
       font-family: 'Nanum Gothic', sans-serif;
   }
   .forgot {
        margin: 0 auto;
        padding: 0;
        padding-bottom: 20px;
   }
   li {
        list-style: none;
        text-align: center;
        margin-bottom: 5px;
    }
    a {
        color: #0f0071;
    }
    .btn2 {
       height: 110px;
       margin: 0 auto;
       margin-top: 34px;
       position: relative;
   }
   .btn2 input{
        font-size: 20px;
        border-radius: 8px;
        background-color: gray;
        color: white;
        margin-bottom: 12px;
        width: 400px;
        height: 60px;
        position: absolute;
        left: 50%;
        transform: translateX(-200px);
        font-family: 'Nanum Gothic', sans-serif;
   }
   .btn2 input:first-child {
        background-image: url("image/google.png");
        background-position:  97px 10px;
        background-repeat: no-repeat;
   }
   .btn2 input:last-child {
        top: 70px;
        background-image: url('image/naver.png');
        background-position:  100px 15px;
        background-repeat: no-repeat;
    }

    @media (min-width:1800px) {
        #main {
            width: 33%;
            margin-top: 200px;
        }
        .text_field {
            width: 600px;
        }
        .btn input {
            width: 400px;
            height: 90px;
            font-size: 35px;
            transform: translateX(-200px);
        }
        .btn2 {
            height: 200px;
            margin-top: 50px;
        }
        .btn2 input {
            width: 600px;
            height: 90px;
            font-size: 35px;
            left: 50%;
            transform: translateX(-300px);
        }
        .btn2 input:first-child {
            background-image: url('image/google.png');
            background-position:  150px 25px;
            background-repeat: no-repeat;
        }
        .btn2 input:last-child {
            top: 105px;
            background-image: url('image/naver.png');
            background-position:  154px 29px;
            background-repeat: no-repeat;
        }
        .text_field {
            height: 240px;
        }
        .text_field input {
            height: 80px;
            font-size: 35px;
            margin-bottom: 20px;
        }
        .forgot {
            font-size: 30px;
            padding: 0;
            padding-top: 50px;
            padding-bottom: 30px;
        }
        li {
            margin-bottom: 10px;
        }
        .forgot li:last-child {
            word-spacing: -5px;
        }
    }
    @media (max-width: 1958px) and (min-width: 1800px) {
        .forgot li:last-child {
            word-spacing: -14px;
        }
    }