@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    margin: 0 auto;
}

body {
    height: 100vh;
    overflow-x: hidden;
}
.container {
    display: block;
}
nav {
    max-width: 1200px;
    box-sizing: border-box;
}

header {
    position: fixed;
    box-shadow: 2px 2px 50px -30px gray;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 1rem;
    color: white;
    background: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
#logo img {
    margin: 0 auto;
    margin-left: 190px;
    height: 44px;
    width: 133px;
    box-sizing: border-box;
}

header ul {
    margin-right: 100px;
    box-sizing: border-box;
}

.highlight {
    list-style: none;
    margin: auto;
    float: right;
    text-align: center;
    margin-right: 27px;
    margin-left: 27px;
    font-size: 20px;
    box-sizing: border-box;
}

a {
    color: #2E2E2E;
    text-decoration: none;
}

header li:hover {
    color: #000000;
    text-decoration: none;
    box-shadow: inset 0 -10px 0  #fcd121; 
}

header li:active {
    color: #000000;
    text-decoration: none;
}
#main{
    background-color: #fff8db;
    border-radius: 40px;
    height: 80vh;
    min-height: 740px;
    margin: 150px 70px;
    font-family: 'Nanum Gothic', sans-serif;
}
/* main_left */
.main_left {
    margin: 0 auto;
    width: 500px;
    height: 600px;
    float: left;
    position: absolute;
    left: 50%;
    transform: translateX(-550px);
}
.profile{
    background-color: lightgray;
    border-radius: 500px;
    margin:0 auto;
    margin-top: 100px;
    width: 350px;
    height: 350px;
}
#findbtn{
    margin: 30px 160px;
    width: 50%;
}

/* main_middle */
#main_middle {
    float: left;
    height: 600px;
    margin-top: 50px;
    margin-right: 80px;
    border-right: 1px solid gray;
    position: absolute;
    left: 50%;
    transform: translateX(-20px);
}

/* main_right */
.main_right {
    width: 24%;
    float: left;
    margin-top: 100px;
    position: absolute;
    left: 55%;
}
.main_right input {
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    font-size: 20px;
}
.main_right select {
    height: 30px;
    margin: 10px 5px 10px 0;
    font-size: 17px;
}
.main_right p {
    font-size: 20px;
    margin-top: 10px;
}
input[type="button"] {
    background-color: #fcd121;
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 20px;
    height: 40px;
    margin-bottom: 15px;
}
#save, #edit {
    background-color: #0f0071;
    cursor: pointer;
}
#myword, #mystudy {
    width: 100%;
    margin: 5px 0;
    cursor: pointer;
}

/* footer */
footer {
    width: 100%;
    background-color: #363636;
    align-items: center;
    clear: both;
    height: 100px;
  }
  footer img {
    margin-top: 35px;
    margin-left: 50px;
  }
  footer p {
    color: white;
    float: right;
    margin-top: 35px;
    margin-right: 50px;
  }

@media(min-width: 2000px){
    .main_left {
        transform: translateX(-800px);
    }
    .profile {
        width: 550px;
        height: 550px;
        margin-top: 150px;
    }
    #main_middle {
        height: 1000px;
    }
    .main_right {
        margin-top: 150px;
        font-size: 27px;
    }
    .main_right input {
        height: 40px;
    }
    .main_right select {
        height: 40px;
    }
    input[type="button"] {
        height: 50px;
        font-size: 27px;
        margin-bottom: 20px;
    }
    #myword, #mystudy {
        margin: 10px 0;
    }
    footer {
        height: 130px;
        font-size: 25px;
    }
    footer img {
        margin-top: 45px;
    }
    footer p {
        margin-top: 45px;
    }
    
}
@media (max-width: 1220px) {
    .highlight {
        font-size: 14px;
    }
}
@media (max-width: 1120px) {
    #main_middle {
        display: none;
    }
    .main_left {
        position: absolute;
        left: 50%;
        transform: translateX(-250px);
    }
    #main {
        min-height: 1150px;
    }
    .main_right {
        width: 42%;
        position: absolute;
        left: 50%;
        transform: translateX(-200px);
        margin-top: 600px;
    }
}
/* 화면 너비 0 ~ 768px */
@media (max-width: 770px){
    .main_left {
        margin-left: 0px;
    }
    #main_middle {
        display: none;
    }
}
/* 화면 너비 0 ~ 480px */
@media (max-width: 600px){
    .profile {
        width: 250px;
        height: 250px;
    }
    .main_right {
        position: absolute;
        left: 50%;
        transform: translateX(-150px);
        margin-top: 600px;
    }
}