@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
  width: 100vw;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}
input {
  outline: none;
  border: none;
}
#main{
  margin: 0 auto;
  font-family: 'Nanum Gothic', sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
  height: 135px;
}
.sign_title {
  margin: 0 auto;
  height: 100%;
}
.sign_title img {
  width: 200px;
  height: auto;
  float: left;
}
.sign_title h1 {
  float: left;
  font-size: 35px;
  margin: 30px 0 0 20px;
  cursor: pointer;
}
.header_line {
  width: 90%;
  border: 0px;
  height: 2px;
  background: gray;
}
.text_intro {
  font-size: 20px;
  text-align: center;
  width: 40%;
  float: left;
}
ul {
  padding-top: 0 auto;
  list-style: none;
  float: right;
}
li {
  margin-bottom: 49px;
}
.height_line {
  top: 205px;
  height: 360px;
  border-left: 2px solid lightgray;
  margin-left: 50px;
  margin-right: 50px;
  float: left;
}
.main_container {
  height: 100%;
  width: 100%;
  float: right;
  align-content: center;
  margin-top: 70px;
}
.text_field{
  margin: 0 auto;
  margin-top: 12px;
  width: 100%;
  font-size: 20px;
}
.text_field input {
    margin-bottom: 27px;
    margin-top: 5px;
    width: 360px;
    height: 36px;
    border: 1px solid gray;
    font-size: 23px;
}
select {
  width: 90px;
  height: 36px;
  margin-right: 5px;
  margin-top: 5px;
}
.btn {
   width: 209px;
   height: 49px;
   margin: 0 auto;
   font-size: 20px;
   margin-top: 50px;
}
.btn input{
   margin: 0 auto;
   margin-top: 15px;
   width: 209px;
   height: 60px;
   font-size: 23px;
   background-color: #fcd121;
   border-radius: 8px;
   color: white;
   cursor: pointer;
}

@media (min-width: 1800px) {
  li {
    margin-bottom: 59px;
  }
  .text_intro {
    width: 45%;
  }
  .height_line {
    height: 460px;
  }
  .text_intro {
    font-size: 28px;
  }
  .text_field {
    margin-top: 20px;
    font-size: 28px;
  }
  .text_field input {
    height: 50px;
    font-size: 27px;
    margin-bottom: 30px;
  }
  .text_field select {
    margin-top: 10px;
    height: 50px;
  }
  .btn {
    width: 300px;
    height: 80px;
    margin-top: 80px;
  }
  .btn input {
    width: 300px;
    height: 80px;
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .text_intro {
    width: 35%;
  }
}
@media (max-width: 900px) {
  .text_intro {
    width: 28%;
  }
}
@media (max-width: 700px) {
  .text_intro {
    font-size: 17px;
    width: 31%;
    text-align: right;
  }
  .height_line {
    margin-right: 0;
  }
  .text_field {
    font-size: 17px;
  }
  .text_field input {
    margin-left: 30px;
    width: 35%;
    height: 31px;
    font-size: 17px;
  }
  .text_field input:nth-child(n+9) {
    width: 40px;
    margin-right: -5px;
  }
  .text_field input:nth-child(n+10) {
    width: 40px;
    margin-left: 0px;
    margin-right: -5px;
  }
  .text_field select {
    margin-top: 10px;
    height: 31px;
  }
}