* {
    margin: 0;
    padding: 0;
}
html {
    background: #252236;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 1rem 3rem 0 3rem;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    padding-top: 300px;
}
.main h1 {
    width: 100%;
    font-size: 100px;
    color: white;
    text-align: center;
    word-spacing: -10px;
    padding-bottom: 10px;
}
a {
    text-decoration: none;
    color: white;
}
.main p {
    width: 100%;
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: 20px;
}
#pause {
    width: 50px;
    height: 50px;
    outline: none;
    border: 0;
    background-color: transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-25px);
    margin-top: 20px;
    background-image: url("image/stop.png");
    background-size: cover;
}
#save {
    width: 180px;
    height: 50px;
    outline: none;
    border: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-90px);
    margin-top: 80px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    text-decoration: underline;
    text-underline-position: under;
}


@media (min-width: 1800px) {
    * {
        font-size: 33px;
    }
    .main {
        padding-top: 400px;
    }
    .main p {
        font-size: 33px;
    }
    #pause {
        width: 70px;
        height: 70px;
        transform: translateX(-35px);
        margin-top: 30px;
    }
    #save {
        width: 200px;
        font-size: 33px;
        transform: translateX(-100px);
        margin-top: 110px;
    }
}
@media (max-width: 1255px){
    .main h1 {
        font-size: 70px;
    }
}
@media (max-width: 847px){
    .main h1 {
        font-size: 50px;
    }
    .main p {
        font-size: 21px;
    }
}
@media (max-width: 576px){
    .main h1 {
        font-size: 40px;
    }
    .main p {
        font-size: 18px;
    }
}