* {
    margin: 0;
    padding: 0;
}
html {
    background: #252236;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 1rem 3rem 0 3rem;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  body{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }
 .box{
    margin-top: 150px;
    width: 500px;
    height: 500px;
}
a { 
    text-decoration:none;
    color: white;
} 
.timerBox{
    width: 500px;
    bottom: 2px solid black;
}
a {
    text-decoration: none;
    color: white;
}
.main p {
    width: 100%;
    font-size: 25px;
}
.timerBox .time{
    font-size: 100pt;
    color: white;
    text-align: center;
    font-family: sans-serif;

}
.btnBox{
    margin: 20px auto;
    text-align: center;
}
#pause {
    width: 50px;
    height: 50px;
    outline: none;
    border: 0;
    background-color: transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-25px);
    margin-top: 20px;
    background-image: url("image/stop.png");
    background-size: cover;
}
#save {
    width: 180px;
    height: 50px;
    outline: none;
    border: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-90px);
    margin-top: 80px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    text-decoration: underline;
    text-underline-position: under;
}
.btnBox .fa{
    margin: 0px 5px;
    font-size: 20pt;
    color: #FAED7D;
    cursor: pointer;
}

/* 화면 너비 0 ~ 1200px */
@media (max-width: 1255px){
    .main h1 {
        font-size: 70px;
    }
}
@media (max-width: 847px){
    .main h1 {
        font-size: 50px;
    }
    .main p {
        font-size: 21px;
    }
}
@media (max-width: 576px){
    .main h1 {
        font-size: 40px;
    }
    .main p {
        font-size: 18px;
    }
}
@media (max-width: 447px){
    .main h1 {
        font-size: 30px;
    }  
}
