@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    margin: 0 auto;
}

.container {
    display: block;
}
nav {
    max-width: 1200px;
    box-sizing: border-box;
}

header {
    position: fixed;
    box-shadow: 2px 2px 50px -30px gray;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 1rem;
    color: white;
    background: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
#logo img {
    margin: 0 auto;
    margin-left: 190px;
    height: 44px;
    width: 133px;
    box-sizing: border-box;
}

header ul {
    margin-right: 100px;
    box-sizing: border-box;
}

.highlight {
    list-style: none;
    margin: auto;
    float: right;
    text-align: center;
    margin-right: 27px;
    margin-left: 27px;
    font-size: 20px;
    box-sizing: border-box;
}

a:link {
    color: #2E2E2E;
    text-decoration: none;
}

a:visited {
    color: #2E2E2E;
    text-decoration: none;
}

header li:hover {
    color: #000000;
    text-decoration: none;
    box-shadow: inset 0 -10px 0  #fcd121; 
}

header li:active {
    color: #000000;
    text-decoration: none;
}

/* main */
.main{
    height: 100vh;
    min-height: 840px;
    width: 100%;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0 auto;
}

/* main-left */
.list {
    position: relative;
    float: left;
    max-width: 250px;
    height: 100%;
    min-height: 840px;
    text-indent: 10px;
    border-right: 1.5px solid lightgray;
    padding-top: 20px;
    left: 15%;
}
.title img {
    position: absolute;
    width: 32px;
    height: 32px;
    margin-left: 50px;
}
.title a {
    margin-left: 90px;
}
.listul, .listul_two {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style:none;
    height: 29px;
    padding-top: 80px;
    font-size: 25px;
    line-height: 29px;
}
.group {
    float: left;
    list-style: none;
}
.group .title {
    width: 300px;
    height: 35px;
    line-height: 35px;
    margin: 17px 0 17px 0;
    cursor:pointer;
    font-weight: bold;
}
#new {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 200px;
    padding-bottom: 20px;
    border-bottom: 1.5px solid lightgray;
}
.listul_two {
    position: absolute;
    margin-left: 0;
    bottom: 0;
    margin-bottom: 200px;
    padding: 0;
}
.listul_two .group {
    margin: 25px 0 0 0;
}

/* main-right */
.unit_list {
    position: relative;
    width: 45%;
    display: inline-block;
    left: 20%;
    padding-top: 80px;
}
.search {
    position: relative;
    width: 80%;
    margin: 0 auto;
}
.search input {
    width: 100%;
    height: 45px;
    margin: 60px 0;
    font-size: 17px;
    text-indent: 15px;
    border-radius: 15px;
    outline: none;
    border: 1.5px solid lightgray;
}
.search button {
    position: absolute;
    right: 15px;
    top: 75px;
    border: 0;
    background: none;
    outline: none;
    cursor: pointer;
}
#voca_intro {
    margin-bottom: 40px;
}
.unit_list_ul {
    margin-top: 66px;
    width: 840px;
}
.unit_list_sub {
    height: 35px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1.5px solid lightgray;
}
.unit_list_sub_title {
    list-style: none;
    font-size: 25px;
    line-height: 25px;
}
.unit_list_sub_title div {
    float: left;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    background-color: #fcd121;
    margin-right: 20px;
}
.unit_list_sub_title p {
    float: right;
    margin-right: 15px;
    font-size: 18px;
    color: gray;
}

/* footer */
.footer {
    width: 100%;
    background-color: #363636;
    align-items: center;
    clear: both;
    height: 100px;
}
.footer img {
    margin-top: 35px;
    margin-left: 50px;
}
.footer p {
    color: white;
    float: right;
    margin-top: 35px;
    margin-right: 50px;
}


@media(min-width: 1840px){
    #logo img {
        width: 159px;
        height: auto;
    }

    /* main */
    .main{
        height: 1335px;
        margin-top: 80px;
    }

    /* main-left */
    .list {
        left: 20%;
        max-width: 350px;
    }
    .title img {
        width: 37px;
        height: 37px;
        margin-left: 30px;
    }
    .listul {
        padding: 0;
        font-size: 40px;
        line-height: 40px;
    }
    #new {
        font-size: 28px;
        margin-bottom: 280px;
    }
    .listul_two {
        padding:0;
        font-size: 40px;
        line-height: 40px;
        bottom: 80px;
        margin-bottom: 180px;
    }
    .group .title {
        line-height: 45px;
        margin-top: 40px;
        margin-bottom: 17px;
    }

    /* main-right */
    .search input {
        height: 55px;
        font-size: 20px;
    }
    .search button {
        top: 80px;
    }
    #voca_intro {
        font-size: 28px;
    }
    .unit_list {
        position: relative;
        width: 820px;
        left: 20%;
        float: left;
        margin-left: 100px;
        padding: 0;
    }
    .unit_list_ul {
        width: 930px;
        list-style: none;
    }
    .unit_list_sub {
        height: 80px;
        margin-bottom: 50px;
        padding: 10px 0 10px 23px;
        font-size: 40px;
        position: relative; 
    }
    .unit_list_sub_title {
        font-size: 40px;
    }
    .unit_list_sub_title div {
        width: 30px;
        height: 30px;
        margin-right: 25px;
    }
    .unit_list_sub_title p {
        font-size: 25px;
    }
    /* footer */
    footer {
        margin-top: -200px;
    }
}

@media (max-width: 1220px) {
    .highlight {
        font-size: 14px;
    }
    .list {
        left: 0;
        width: 250px;
    }
    .unit_list {
        left: 15%;
    }
}
@media (max-width: 730px){
    header {
        height: 135px;
    }
    * {
        max-width: 750px;
    }
    .listul {
        padding-top: 135px;
    }
    .unit_list {
        padding-top: 135px;
    }
}
@media (max-width: 480px) {
    header {
        font-size: 14px;
        height: 135px;
    }
    #highlight {
        font-size: 14px;
    }
    #logo img {
        margin-left: 30px;
    }
}